@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
  margin: 0;
  font-family: 'Electrolize', sans-serif;
  @apply bg-gray-50;
}

.ant-btn-primary{
  background-color: #1677ff;
}



@media (min-width: 768px) {
  body{
    overflow: hidden;
  }
  
  .categories::-webkit-scrollbar{
    display: none;
  }
}